body {
  margin: 0;
  padding: 0;
  background-color: #8a051b;
}

.header {
  background-color: #8a051b;
  width: 100%;
  height: 100px;
}
header__img {
  width: 80px;
  margin-top: 10px;
  margin-left: 10px;
}
.header__menu {
}
